In [3]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [9]:
#Step 2. Import the dataset
#Step 3. Assign it to a variable called chipo.
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [11]:
#Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [15]:
#Step 5. What is the number of observations in the dataset?
len(chipo)

4622

In [19]:
#Step 6. What is the number of columns in the dataset?
chipo.shape[1]

5

In [21]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [23]:
#Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [47]:
#Step 9. Which was the most-ordered item?
most_ordered_item = chipo['item_name'].value_counts().idxmax()
most_ordered_item

'Chicken Bowl'

In [45]:
#Step 10. For the most-ordered item, how many items were ordered?
most_ordered_item = chipo['item_name'].value_counts().idxmax()
total_quantity = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
print(most_ordered_item,total_quantity)

Chicken Bowl 761

In [53]:
#Step 11. What was the most ordered item in the choice_description column?
chipo["choice_description"].value_counts().idxmax()

'[Diet Coke]'

In [55]:
#Step 12. How many items were orderd in total?
chipo.quantity.sum()

4972

In [ ]:
#Step 13. Turn the item price into a float

In [57]:
#Step 13.a. Check the item price type
chipo.item_price.dtype

dtype('O')

In [108]:
#Step 13.b. Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [106]:
#Step 13.c. Check the item price type
chipo['item_price'].dtype

dtype('float64')

In [90]:
#Step 14. How much was the revenue for the period in the dataset?
chipo['total_price'] = chipo['quantity'] * data['item_price']
total_revenue = data['total_price'].sum()
total_revenue

39237.02

In [92]:
#Step 15. How many orders were made in the period?
orders = chipo.order_id.value_counts().count()
orders

1834

In [96]:
#Step 16. What is the average revenue amount per order?
chipo['total_price'] = chipo['quantity'] * chipo['item_price']
order_totals = chipo.groupby('order_id')['total_price'].sum()
average_revenue = order_totals.mean()
average_revenue

21.39423118865867

In [102]:
#Step 17. How many different items are sold?
chipo.item_name.value_counts().count()

50