In [1]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Step 2. Import the dataset
#Step 3. Assign it to a variable called chipo.
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
# Step 4. How many products cost more than $10.00?
price = [float(value[1 : -1]) for value in chipo.item_price]
chipo.item_price = price
len(chipo[chipo.item_price > 10.00])

1130

In [9]:
# Step 5. What is the price of each item?
chipo.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [17]:
# Step 5. What is the price of each item?
chipo['price_per_item'] = chipo['item_price'] / chipo['quantity']
chipo[['item_name', 'price_per_item']]

                                  item_name  price_per_item
0              Chips and Fresh Tomato Salsa            2.39
1                                      Izze            3.39
2                          Nantucket Nectar            3.39
3     Chips and Tomatillo-Green Chili Salsa            2.39
4                              Chicken Bowl            8.49
...                                     ...             ...
4617                          Steak Burrito           11.75
4618                          Steak Burrito           11.75
4619                     Chicken Salad Bowl           11.25
4620                     Chicken Salad Bowl            8.75
4621                     Chicken Salad Bowl            8.75

[4622 rows x 2 columns]

In [19]:
# Step 6. Sort by the name of the item
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [25]:
# Step 7. What was the quantity of the most expensive item ordered?
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [27]:
# Step 8. How many times was a Veggie Salad Bowl ordered?
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

In [29]:
# Step 9. How many times did someone order more than one Canned Soda?
len(chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)])

20